GCC_OPTIMIZATION_LEVEL = 3
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DEAD_CODE_STRIPPING = YES
STRIP_INSTALLED_PRODUCT = YES
SEPARATE_STRIP = YES
CONFIGURATION_BUILD_DIR = ../../lib/mac/release/
GCC_PREFIX_HEADER = DocTypePublisherPlugin_Precomp.pch
LIBRARY_SEARCH_PATHS = ../../../Common/ThirdParty/xerces/mac/xerces-c-3.1.1/Build/Mac/Release 
FRAMEWORK_SEARCH_PATHS = /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.8.sdk/System/Library/Frameworks 
GCC_PREPROCESSOR_DEFINITIONS = MAC_ENV _MAC USE_HTTP_SERVER USE_RUNTIME NDEBUG FEATURE_MAC_BUNDLED_JRE=1 
ARCHS = x86_64
