CONFIGURATION_BUILD_DIR = $(SYMROOT)/debug
GCC_OPTIMIZATION_LEVEL = 0
GCC_ENABLE_FIX_AND_CONTINUE = YES
STRIP_INSTALLED_PRODUCT = NO
CONFIGURATION_BUILD_DIR = ../../lib/mac/debug/
GCC_PREFIX_HEADER = DocTypePublisherPlugin_Precomp.pch
LIBRARY_SEARCH_PATHS = ../../../Common/ThirdParty/xerces-c-3.1.1/Build/Mac/Release 
FRAMEWORK_SEARCH_PATHS = /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.8.sdk/System/Library/Frameworks 
GCC_PREPROCESSOR_DEFINITIONS = MAC_ENV _MAC DEBUG=1 _DEBUG 
ARCHS = x86_64
