CONFIGURATION_BUILD_DIR = $(SYMROOT)/debug
GCC_OPTIMIZATION_LEVEL = 0
GCC_ENABLE_FIX_AND_CONTINUE = YES
STRIP_INSTALLED_PRODUCT = NO
CONFIGURATION_BUILD_DIR = /Users/labuser/Perforce/FlashPro2/depot/main/flashpro/src/fcm/plugins/DocTypePublisherPlugin/lib/mac/debug/
GCC_PREFIX_HEADER = DocTypePublisherPlugin_Precomp.pch
LIBRARY_SEARCH_PATHS = ../../../ThirdParty/xerces-c-3.1.1/Build/Mac/Release 
FRAMEWORK_SEARCH_PATHS = /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.8.sdk/System/Library/Frameworks 
GCC_PREPROCESSOR_DEFINITIONS = DVA_COCOA_UI=1 NS_BUILD_32_LIKE_64 BOOST_ALL_NO_LIB BOOST_SYSTEM_NO_DEPRECATED FLASHPRO_DVA_CUSTOM BOOST_ALL_DYN_LINK __ASSERT_MACROS_DEFINE_VERSIONS_WITHOUT_UNDERSCORES=0 PRERELEASE DVA_MAJOR_DISPLAY_VERSION=2014 DVA_MINOR_DISPLAY_VERSION=0 DVA_PATCH_DISPLAY_VERSION=0 DVA_SUITE_VERSION=14 DVA_MAJOR_VERSION=14 DVA_MINOR_VERSION=1 DVA_PATCH_VERSION=0 DVA_BUILD_YEAR=2014 MAC_ENV _MAC USE_DVA_WORKSPACE=1 USE_EXO_MESSAGING=1 DEBUG=1 _DEBUG 
ARCHS = x86_64
