<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DocTypePublisherPlugin.Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DocTypePublisherPlugin.Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77186053-fc6d-3c6a-b941-bb2ba01205b2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6F8F67019B9B6E30037C21F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6F8F67D19B9B6E40037C21F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>d8c0472c-f7c4-3a54-a1f2-14b9e023c617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
