CONFIGURATION_BUILD_DIR = $(BUILD_DIR)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)
COPY_PHASE_STRIP = NO
DEBUG_INFORMATION_FORMAT = dwarf
GCC_DEBUGGING_SYMBOLS = full
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_ENABLE_SYMBOL_SEPARATION = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_MODEL_TUNING = G5
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(PRODUCT_NAME)_Prefix.pch
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_VARIABLE = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS=YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS=YES
GCC_WARN_UNUSED_FUNCTION=YES
INFOPLIST_FILE=Info.plist
INSTALL_PATH=@executable_path/../Frameworks
PREBINDING = NO
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
SHARED_PRECOMPS_DIR = $(CONFIGURATION_TEMP_DIR)
ZERO_LINK = NO
OTHER_CPLUSPLUSFLAGS = -fshort-wchar -fvisibility=default
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
DVA_PRODUCT_NAME=Snap SVG Animator
OTHER_CFLAGS = -fshort-wchar
PRODUCT_NAME = SnapSVGAnimatorPlugin
SDKROOT = macosx
SYMROOT = build
WRAPPER_EXTENSION = fcm.plugin
OBJROOT = build
PRECOMPROOT = ../obj/mac/SharedPrecompiledHeaders
DVA_BUNDLE_IDENTIFIER = com.adobe.flashpro.SnapSVGAnimatorPlugin.fcm.plugin
DVA_BUNDLE_OS_CODE = FMWK
MACOSX_DEPLOYMENT_TARGET = 10.6
HEADER_SEARCH_PATHS = ../mac-xcode ../../../../../CustomPlatformSupportDevelopmentKit/core/include/common ../../../../../CustomPlatformSupportDevelopmentKit/core/include/interfaces ../../../../../CustomPlatformSupportDevelopmentKit/app/include/common ../../../../../CustomPlatformSupportDevelopmentKit/app/include/interfaces ../../../../../CustomPlatformSupportDevelopmentKit/app/include/interfaces/DOM ../../../Common/ThirdParty/libjson_7.6.1/libjson ../../../Common/ThirdParty/mongoose ../../../../../CustomPlatformSupportDevelopmentKit/app/include/interfaces/Exporter ../../include ../../../Common/ThirdParty/xerces/mac/xerces-c-3.1.1/src 
ARCHS = x86_64
